.jsm-logo {
    line-height: 46PX;
    height: 46px;
    min-height: 46px;
    font-size: 18px;
}

.logo-big{
    font-size: 24px;
}

.logo-cn {
    vertical-align: middle;
    color: #FFFFFF;

}

.logo-en {
    vertical-align: middle;
    font-weight: bold;
    color: #FE3E3E;

}
